@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post))
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Instructions)
  @Html.TextBoxFor(model => model.Instructions)

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Add Ingredient", "AddIngredient")</p>

<p class="enlarge">@Html.ActionLink("Show all recipes", "Index")</p>